.site-footer-container {
	background-color: color(white, base);
	position: relative;
	overflow: hidden;
	padding-left: $global-base-unit * 4;
	padding-bottom: $global-base-unit * 3;
	margin-top: $global-base-unit * 4;

	&::after {
		@include psuedo();
		position: absolute;
		background: color(secondary, base);;
		height: 200px;
		width: 400px;
		bottom: -140px;
		left: -200px;
		transform: rotate(23deg);
	}
}

.site-footer-byline {
	margin-bottom: 0;

	// @include font-size(14px, 1.4);
}

.site-footer-links {
	list-style: none;
	display: flex;
}

.site-footer-link-item {
	margin-right: $global-base-unit;
	@include clear-margin(left);
	@include clear-padding(left);

	&:before {
		display: none;
	}
}

.site-footer-byline,
.site-footer-link-item a,
.site-footer-copyright {
	@include ms-respond(font-size, 0);
}
