.site-footer-container {
	position: relative;

	overflow: hidden;

	margin-top: $global-base-unit * 4;
	padding-right: $global-base-unit;
	padding-bottom: $global-base-unit * 3;
	padding-left: $global-base-unit;

	background-color: color(white, base);

	@include mq('small') {
		padding-left: $global-base-unit * 4;
	}

	&::after {
		bottom: -140px;
		left: -200px;

		width: 400px;
		height: 200px;

		transform: rotate(23deg);

		background: color(secondary, base);

		@include psuedo(absolute);
	}
}

.site-footer-byline {
	margin-bottom: 0;
}

.site-footer-links {
	display: flex;
	flex-direction: column;

	padding-left: $global-base-unit;

	list-style: none;

	@include mq('small') {
		flex-direction: row;

		padding-left: 0;
	}
}

.site-footer-link-item {
	margin-right: $global-base-unit;

	@include clear-margin(left);
	@include clear-padding(left);

	&:before {
		display: none;
	}
}

.site-footer-byline,
.site-footer-link-item a,
.site-footer-copyright {
	@include ms-respond(font-size, 0);
}
