/*--------------------------------------------------------------
## Site Header Bar
--------------------------------------------------------------*/
.site-header {
	background-color: color(white, base);
	padding: 20px;
	position: relative;
}

.site-header.is-active {
	background-color: color(bay, base);

	.site-header-title a,
	.hamburger {
		color: color(white, base);
	}

	.hamburger .hamburger-inner,
	.hamburger .hamburger-inner::before,
	.hamburger .hamburger-inner::after {
		background: color(white, base);
	}
}

.site-header-wrapper {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	max-width: $global-grid-size;
	margin: 0 auto;
}

.home .site-header-branding {
	opacity: 0;
	visibility: hidden;
}

.is-active .logo-fill-color {
	fill: color(white, base);
}

.logo-fill-color {
	fill: color(bay, base);
}

.site-header-title {
	text-transform: uppercase;
	font-family: $global-font-family;
	font-weight: 700;
	@include clear-margin('bottom');
	@include clear-margin('top');

	a {
		color: color(bay, base);
		text-decoration: none;
		width: 165px;
		display: block;
		@include font-size(24px, 1);
	}
}

.site-header-title a,
.hamburger {
	color: color(bay, base);
}

.hamburger .hamburger-inner,
.hamburger .hamburger-inner::before,
.hamburger .hamburger-inner::after {
	background: color(bay, base);
}

.hamburger {
	display: flex;
	align-items: center;

	&:focus {
		outline: none;
	}

	&.is-active:hover,
	&:hover {
		opacity: 1;
	}
}

.hamburger-label {
	font-family: sans-serif;
	padding-left: 10px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	border-radius: 0;
	height: 2px;
}

.hamburger-inner {
	width: 36px;
}

.hamburger-inner::after {
	width: 32px;
}

.hamburger.is-active {
	.hamburger-inner,
	.hamburger-inner::before,
	.hamburger-inner::after {
		width: 40px;
	}
}

/*--------------------------------------------------------------
## Main Navigation
--------------------------------------------------------------*/
@import "../components/main-navigation"

