.content-area {
	margin: 0 auto;
}

.entry-content {
	max-width: $global-grid-size;
	margin: 0 auto;
	padding: 0 $global-base-unit;
}

.entry-content ul {
	margin-top: $global-base-unit;
	margin-left: $global-base-unit;
}
