.page-template-page-sidebar .site-content {
	display: flex;
	flex-direction: column;
}

.page-template-page-sidebar .content-area {
	width: 100%;
}

.page-template-page-sidebar .widget-area {
	width: 100%;
}
