//-----------------------------------------
// Set All elements following a data-collapsed attr
//-----------------------------------------
[data-collapsed="true"] + * {
	overflow: hidden;
	transition: height 300ms ease-out;
	height: 0;
}
