// Create transitions mixin for standardizing animations
@mixin transition($duration: 300ms, $bezier: ease, $element: all){
	transition: $duration $bezier $element;
}

// Off-center Align
@mixin align-off-center() {
	margin-right: auto;
	margin-left: 20vw;
}

// Cool Gradient Border
@mixin border-gradient() {
	position: relative;

	height: 100%;

	&:after {
		position: absolute;
		top: 0;
		left: 0;

		display: block;

		width: 2px;
		height: 100%;
		min-height: 500px;

		content: "";

		background: linear-gradient(#91ceff, #fcdc74);
	}
}

/*----------  Button  ----------*/
@mixin button() {
	font-weight: bolder;

	padding: $global-base-unit / 2;

	text-align: center;

	border: 2px solid color(primary, base);

	&:hover {
		cursor: pointer;

		border-color: color(secondary, base);
	}
}
