// Add required psuedo element properties
@mixin psuedo() {
	content: "";
	position: relative;
	display: block;
}

// Create transitions mixin for standardizing animations
@mixin transition($duration: 300ms, $bezier: ease, $element: all){
	transition: $duration $bezier $element;
}

// Off-center Align
@mixin align-off-center() {
	margin-left: 20vw;
	margin-right: auto;
}
