body {
	@include ms-respond(font-size, 0);
	line-height: 1.6;
}

// Lists
ul {
	margin: 0;
	padding: 0;
}

ul li {
	position: relative;
	margin-left: $global-base-unit;
	margin-bottom: $global-base-unit / 4;
	padding-left: $global-base-unit;
	list-style: none;

	&::before {
		@include psuedo(absolute);
		height: 4px;
		width: 4px;
		top: .6em;
		left: 0;
		background-color: color(black, base);
		border-radius: 100%;
	}
}



// Anchors
a {
	color: color(bay, dark);
	text-decoration: none;
	@include transition();

	&:visited {
		color: color(bay, dark);
	}

	&:hover {
		color: color(secondary, dark);
	}
}



// Headings
h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-family: $global-font-family;
	font-weight: 700;
	color: color(primary, base);
}

h1 {
	@include ms-respond(font-size, 5);
}

h2 {
	@include ms-respond(font-size, 4);
}

h3 {
	@include ms-respond(font-size, 3);
}

h4 {
	@include ms-respond(font-size, 2);
}

h5 {
	@include ms-respond(font-size, 1);
}

h6 {
	@include ms-respond(font-size, 0);
}

// Paragraphs
p {
	@include ms-respond(font-size, 0);

	&:last-child {
		margin-bottom: 0;
	}
}
