body {
	line-height: 1.6;

	color: color(black, base);

	@include ms-respond(font-size, 0);
}

// Lists
ul {
	margin: 0;
	padding: 0;
}

ul li {
	position: relative;

	margin-bottom: $global-base-unit / 4;
	margin-left: $global-base-unit;
	padding-left: $global-base-unit;

	list-style: none;

	&::before {
		top: .6em;
		left: 0;

		width: 4px;
		height: 4px;

		border-radius: 100%;
		background-color: color(black, base);

		@include psuedo(absolute);
	}
}



// Anchors
a {
	text-decoration: none;

	color: color(bay, dark);

	@include transition();

	&:visited {
		color: color(primary, base);
	}

	&:hover {
		color: color(secondary, dark);
	}
}



// Headings
h1, h2, h3, h4, h5, h6 {
	font-family: $global-font-family;
	font-weight: 700;

	margin-bottom: 5px;

	text-transform: uppercase;

	color: color(primary, base);
}

h1 {
	@include ms-respond(font-size, 4);
}

h2 {
	@include ms-respond(font-size, 3);
}

h3 {
	@include ms-respond(font-size, 2);
}

h4 {
	@include ms-respond(font-size, 1);
}

h5 {
	@include ms-respond(font-size, 0);
}

h6 {
	@include ms-respond(font-size, -1);
}

// Paragraphs
p {
	@include ms-respond(font-size, 0);

	&:last-child {
		margin-bottom: 0;
	}
}
