ul {
	margin: 0;
	padding: 0;
}

a {
	color: color(bay, base);
	@include transition();

	&:visited {
		color: color(bay, dark);
	}

	&:hover {
		color: color(secondary, dark);
	}
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	font-family: $global-font-family;
	font-weight: 700;
}

h1 {
	@include font-size(32px);
}

p {
	@include font-size($global-font-size);
}
