// Global Variables
$global-font-size: 16px;
$global-font-family: 'Heebo', sans-serif;
$global-baseline: $global-font-size * 1.8;
$global-grid-size: 1440px;
$global-base-unit: 20px;

// Modular Scale for Headlines
$modularscale: (
  base: 16px, // match to global var (has to be passed manually for now, sorry)
  ratio: 1.25 // ratio you'd like your headlines to scale at (see https://www.modularscale.com/?1&em&1.25)
);

// Breakpoints
$breakpoints: (
	"small":  768px,
	"medium": 1024px,
	"large":  1440px,
);

// Color Variables
$primary: #0060CA;
$secondary: #FCDC74;
$bay: #403BC1;
$black: #232323;
$white: #ffffff;

// Color Map for Mixin
$colors: (
	primary: (
		base: $primary,
		light: lighten($primary, 15%),
		lighter: lighten($primary, 25%),
		lightest: lighten($primary, 50%),
		dark: darken($primary, 15%),
		trans: transparentize($primary, 0.5)
	),
	secondary: (
		base: $secondary,
		light: lighten($secondary, 15%),
		lighter: lighten($secondary, 25%),
		lightest: lighten($secondary, 50%),
		dark: darken($secondary, 15%),
		trans: transparentize($secondary, 0.5)
	),
	black: (
		base: $black,
		light: lighten($black, 15%),
		lighter: lighten($black, 25%),
		lightest: lighten($black, 50%),
	),
	white: (
		base: $white,
	),
	bay: (
		base: $bay,
		light: lighten($bay, 15%),
		lighter: lighten($bay, 25%),
		lightest: lighten($bay, 50%),
		dark: darken($bay, 15%),
		trans: transparentize($bay, 0.5)
	)
);


