// Global Variables
$global-font-size: 16px;
$global-font-family: 'Heebo', sans-serif;
$global-baseline: $global-font-size * 1.8;
$global-grid-size: 1440px;
$global-base-unit: 20px;

$modularscale: (
  base: 1em,
  ratio: 1.2,
  48em: (
    ratio: 1.2
  ),
  64em: (
    ratio: 1.3
  ),
);

// Headings
$h1: 48.83px;
$h2: 39.06px;
$h3: 31.25px;
$h4: 25px;
$h5: 20px;
$h6: 16px;

// Color Variables
$primary: #0060ca;
$secondary: #fcdc74;
$bay: #403bc1;
$black: #232323;
$white: #fff;

// Color Map for Mixin
$colors: (
	primary: (
		base: $primary,
		light: lighten($primary, 15%),
		lighter: lighten($primary, 25%),
		lightest: lighten($primary, 50%),
		dark: darken($primary, 20%),
		trans: transparentize($primary, .5)
	),
	secondary: (
		base: $secondary,
		light: lighten($secondary, 15%),
		lighter: lighten($secondary, 35%),
		lightest: lighten($secondary, 50%),
		dark: darken($secondary, 20%),
		trans: transparentize($secondary, .5)
	),
	black: (
		base: $black,
		light: lighten($black, 15%),
		lighter: lighten($black, 25%),
		lightest: lighten($black, 50%),
	),
	white: (
		base: $white,
		trans: transparentize($white, .1),
	),
	bay: (
		base: $bay,
		light: lighten($bay, 15%),
		lighter: lighten($bay, 25%),
		lightest: lighten($bay, 50%),
		dark: darken($bay, 15%),
		trans: transparentize($bay, .5)
	)
);
