.archive-content-wrapper {
	display: flex;
	max-width: $global-grid-size;
	margin: 0 auto;
}

.archive-header-heading {
	max-width: $global-grid-size;
	margin-right: auto;
	margin-left: auto;
}

.archive-content-list {
	width: 70%;
}

.archive-content-wrapper {

	.widget-area {
		width: 30%;
		padding-left: $global-base-unit * 4;
	}

	.widget-area .widget-title {
		@include font-size(15px);
		margin-bottom: $global-base-unit;
		color: color(primary, lighter);
	}

	.widget-area ul {
		margin-left: $global-base-unit;
	}

	.widget-area ul li {
		list-style: none;
		position: relative;
		margin-bottom: $global-base-unit / 6;
		padding-left: $global-base-unit / 2;

		&::before,
		&::after {
			@include psuedo(absolute);
			top: 50%;
			left: -20px;
			transform: translateY(-50%);
		}

		&::before {
			border: 1px solid color(secondary, base);
			height: 15px;
			width: 15px;
			border-radius: 0;
			background-color: transparent;
		}

		&::after {
			width: 8px;
			height: 8px;
			border-radius: 100%;
			background-color: color(black, light);
			left: -16px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.widget-area ul li a {
		@include font-size(14px);
		text-decoration: none;
	}
}
