.archive-content-wrapper {
	display: flex;

	max-width: $global-grid-size;
	margin: 0 auto;
}

.archive-header-heading {
	max-width: $global-grid-size;
	margin-right: auto;
	margin-left: auto;
}

.archive-content-list {
	width: 70%;
}

.archive-content-wrapper {

	.widget-area {
		width: 30%;
		padding-left: $global-base-unit * 4;
	}

	.widget-area .widget-title {
		margin-bottom: $global-base-unit;

		color: color(primary, lighter);
	}

	.widget-area ul {
		margin-left: $global-base-unit;
	}

	.widget-area ul li {
		position: relative;

		margin-bottom: $global-base-unit / 6;
		padding-left: $global-base-unit / 2;

		list-style: none;

		&::before,
		&::after {
			top: 50%;
			left: -20px;

			transform: translateY(-50%);

			@include psuedo(absolute);
		}

		&::before {
			width: 15px;
			height: 15px;

			border: 1px solid color(secondary, base);
			border-radius: 0;
			background-color: transparent;
		}

		&::after {
			left: -16px;

			width: 8px;
			height: 8px;

			border-radius: 100%;
			background-color: color(black, light);
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.widget-area ul li a {
		text-decoration: none;
	}
}
