button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding-top: $global-base-unit / 4;
	padding-bottom: $global-base-unit / 4;
	padding-left: 30px;
	padding-right: 30px;
	border: 0;
	border-radius: 0;
	background: color(primary, trans);
	text-transform: uppercase;
	border-radius: 25px;
	margin-top: $global-base-unit;

	@include transition();
	@include font-size(14px);

	&:hover {
		cursor: pointer;
		background-color: color(secondary, base);
	}
}
