button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	margin-top: $global-base-unit;
	padding-top: $global-base-unit / 4;
	padding-right: 30px;
	padding-bottom: $global-base-unit / 4;
	padding-left: 30px;

	text-transform: uppercase;

	border: 0;
	border-radius: 0;
	border-radius: 25px;
	background: color(primary, trans);

	@include transition();

	&:hover {
		cursor: pointer;

		background-color: color(secondary, base);
	}
}
