.entry-header-featured-image {
	position: relative;

	overflow: hidden;

	min-height: 500px;

	.wp-post-image,
	img {
		position: absolute;
		top: 50%;
		left: 50%;

		width: 100%;
		max-width: 100%;
		height: 100%;
		max-height: 100%;

		transform: translate(-50%, -50%);

		object-fit: cover;
	}

	&::after {
		top: -50%;
		right: -415px;

		width: 500px;
		height: 200%;

		transform: rotate(23deg);

		background-color: color(white);

		@include psuedo(absolute);
	}
}

.entry-title {
	max-width: $global-grid-size;
	margin: $global-base-unit auto;
	padding: 0 $global-base-unit;
}


@include mq("small") {
	.entry-title {
		// @include align-off-center();
		margin-top: $global-base-unit * 5;
		margin-bottom: $global-base-unit;
	}
}
