.entry-header-featured-image {
	height: 250px;
	overflow: hidden;
	position: relative;

	.wp-post-image,
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}

	&::after {
		@include psuedo();

		background-color: color(white);
		height: 200%;
		width: 173px;
		position: absolute;
		top: -50%;
		right: -88px;
		transform: rotate(25deg);
	}
}

.entry-title {
	max-width: $global-grid-size;
	margin: $global-base-unit auto;
}


@include mq("small") {
	.entry-title {
		// @include align-off-center();
		margin-top: $global-base-unit * 5;
		margin-bottom: $global-base-unit;
	}
}
