.main-navigation-button {
	&:hover {
		background-color: transparent;
	}
}

.main-navigation-menu {
	position: absolute;
	z-index: z('site-header');
	top: 95px;
	left: 50%;

	overflow: hidden;

	width: 100%;
	max-width: $global-grid-size;
	// padding-bottom: $global-base-unit * 2;

	transform: translateX(-50%);

	background: color(white, base);

	@include transition();

	&[data-collapsed='false'] {
		border-bottom: 2px solid color(secondary, base);
	}
}

.main-navigation-menu .sub-menu {
	overflow: hidden;

	margin-left: $global-base-unit;

	@include transition();
}

// First Level Menu Items (Research/Partners/Resources/Etc)
.main-navigation-menu .menu-item {
	margin-left: $global-base-unit * 4;
	padding: 0;

	list-style: none;

	text-transform: uppercase;

	&:before {
		display: none;
	}
}

.main-navigation-menu .menu-item a {
	position: relative;

	display: block;

	width: 100%;
	padding: $global-base-unit 0;

	text-decoration: none;

	color: color(black);

	&:hover {
		color: initial;
	}

	&::before
	, &::after {
		position: absolute;
		left: $global-base-unit * -2;

		width: 50px;
		height: 2px;

		transform: translate(-50%, -50%);

		background-color: color(bay, base);

		@include psuedo();
		@include transition();
	}

	&::before {
		top: calc(50% - 10px);
	}

	&::after {
		top: calc(50% + 10px);
	}
}

.main-navigation-menu .menu-item a[data-collapsed='true'] {
	&::before {
		top: calc(50% - 3px);
	}

	&::after {
		top: calc(50% + 3px);
	}
}


// Second Level+ Menu Items (Projects/Universities/etc)
.main-navigation-menu .menu-item .menu-item {
	margin-left: 0;

	text-transform: initial;
}

.main-navigation-menu .menu-item .menu-item a {
	font-weight: 700;

	padding: 3px 0;

	color: color(bay, base);

	&:hover {
		color: initial;
	}

	&::before
	, &::after {
		display: none;
	}
}

// Third Level+ Menu Items
.main-navigation-menu .menu-item .menu-item .menu-item a {
	font-weight: normal;
}

// Close button
.main-navigation-menu--close {
	line-height: 40px;

	position: absolute;
	bottom: 0;
	left: 5px;

	width: 40px;
	height: 40px;

	text-align: center;

	background-color: color(primary, lightest);

	&:hover {
		cursor: pointer;
	}
}





// Media Queries
@include mq('small') {
}

@include mq('large') {
	.main-navigation-menu {
		display: flex;
		justify-content: space-between;

		padding-right: $global-base-unit * 4;
		padding-left: $global-base-unit * 4;
	}

	.main-navigation-menu .menu-item {
		width: 20%;

		@include clear-margin('left');

		&:first-child {
			width: 40%;
		}
	}

	.main-navigation-menu .menu-item a::before
	, .main-navigation-menu .menu-item a::after {
		display: none;
	}
}
