.post-type-archive-wsuwp_uc_project {
	.wsuwp_uc_project:last-child {
		.project-by-number-link {
			border-bottom: none;
		}
	}
}
.project-by-number-link {
	display: block;

	width: 100%;
	padding-top: $global-base-unit * 1.5;
	padding-bottom: $global-base-unit * 1.5;

	text-decoration: none;

	color: color(primary, lighter);
	border-bottom: 1px solid color(secondary, base);
}

.project-by-number-headline {
	font-weight: normal;

	text-transform: initial;

	color: color(bay, base);

	@include clear-margin(top);
	@include ms-respond(font-size, 0);
}

.project-by-number-id {
	font-weight: 700;

	@include ms-respond(font-size, 2);
	@include clear-margin(top);
	@include clear-margin(bottom);
}

